<div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Chiffre D'affaires</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="chiffreDaffaireForm" (ngSubmit)="onSubmitChiffreDaffaire()"class="d-flex flex-row gap-3 mb-3">
                <div class="input-group">
                  <select class="form-select" formControlName="type" required>
                    <option value="day">par Jour</option>
                    <option value="month">par Mois</option>
                  </select>
                </div>
                <div class="input-group">
                  <input type="month" formControlName="dateDebut" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary ms-5">Appliquer</button>
            </form>
          <app-line-chart [labels]="lineChartLabels" [data]="lineChartData" [title]="lineChartTitle"></app-line-chart>
        </div>
      </div>
    </div>
  </div>