<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion /</span> Services</h4>

<div class="row">
<!-- Basic -->
<div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Nouveau service</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="createForm" (ngSubmit)="onSubmitCreate()">
          <div class="mb-3">
            <label class="form-label" for="label">Libelle</label>
            <input formControlName="label" type="text" class="form-control"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Prix</label>
            <div class="input-group">
                <input formControlName="price" type="number" class="form-control"/>
                <span class="input-group-text">Ar</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="duration">Durée</label>
            <div class="input-group">
                <input formControlName="duration" type="number" class="form-control"/>
                <span class="input-group-text">min</span>    
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="commission">Commission</label>
            <div class="input-group">
                <input formControlName="commission" type="number" class="form-control"/>
                <span class="input-group-text">%</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea formControlName="description" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Créer</button>
        </form>
      </div>
    </div>
</div>

<!-- Merged -->
<div class="col-md-8">
    <div class="card mb-4">
        <h5 class="card-header">Liste des services</h5>
        <app-table [columns]="columns" [data]="data"></app-table>
        <ng-template #priceTemplate let-item>
           {{ formatPrice(item.price) }}
        </ng-template>
        <ng-template #durationTemplate let-item>
           {{ item.duration }} min
        </ng-template>
        <ng-template #commissionTemplate let-item>
           {{ item.commission }} %
        </ng-template>
        <ng-template #actionTemplate let-item>
           <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu" style="z-index: 999;">
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal" (click)="openModalEdit(item._id)"><i class="bx bx-edit-alt me-2"></i> Modifier</a>
                <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="openModalDelete(item._id)"><i class="bx bx-trash me-2"></i> Supprimer</a>
              </div>
          </div>
        </ng-template>
        <hr class="m-0 mb-3">
    </div>
</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifié un service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input formControlName="id" type="hidden"/>
            <div class="mb-3">
                <label class="form-label" for="label">Libelle</label>
                <input formControlName="label" type="text" class="form-control"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="duration">Durée</label>
                <div class="input-group">
                    <input formControlName="duration" type="number" class="form-control" step="30"/>
                    <span class="input-group-text">min</span>    
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="price">Prix</label>
                <div class="input-group">
                    <input formControlName="price" type="number" class="form-control"/>
                    <span class="input-group-text">Ar</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="commission">Commission</label>
                <div class="input-group">
                    <input formControlName="commission" type="number" class="form-control"/>
                    <span class="input-group-text">%</span>
                </div>
              </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea formControlName="description" class="form-control"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-2" aria-hidden="true">
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmitDelete()">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vous êtes sur?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input formControlName="id" type="hidden"/>
            Etes-vous sur de vouloir supprimer ce service?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </form>
</div>
<app-alert *ngIf="showAlert" [message]="alertMessage" [type]="alertType"></app-alert>