<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion /</span> Employés</h4>

<div class="row">
<!-- Basic -->
<div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Nouvel employé</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="createForm" (ngSubmit)="onSubmitCreate()">
          <input formControlName="role" type="hidden"/>
          <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">Nom d'utilisateur</label>
            <input formControlName="username" type="text" class="form-control"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">Email</label>
            <input formControlName="email" type="text" class="form-control"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Mot de passe</label>
            <input formControlName="password" type="text" class="form-control"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="gender">Genre</label>
            <div class="input-group input-group-merge">
              <select formControlName="gender" class="select2 form-select">
                <option value="Homme" selected>Homme</option>
                <option value="Femme">Femme</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="job">Job</label>
            <input formControlName="job" type="text" class="form-control" placeholder="Coiffeur"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="employment_date">Date d'emploiement</label>
            <input formControlName="employment_date" type="date" class="form-control"/>
          </div>
          <button type="submit" class="btn btn-primary">Créer</button>
        </form>
      </div>
    </div>
</div>

<!-- Merged -->
<div class="col-md-8">
    <div class="card mb-4">
        <h5 class="card-header">Liste des employés</h5>
        <app-table [columns]="columns" [data]="data"></app-table>
        <ng-template #actionTemplate let-item>
           <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu" style="z-index: 999;">
                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal" (click)="openModalEdit(item._id)"><i class="bx bx-edit-alt me-2"></i> Modifier</a>
                <a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="openModalDelete(item._id)"><i class="bx bx-trash me-2"></i> Supprimer</a>
              </div>
          </div>
        </ng-template>
        <!-- <hr class="m-0 mb-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end me-3">
                <li class="page-item prev">
                  <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">2</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0);">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">5</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                </li>
            </ul>
        </nav> -->
    </div>
</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifié un employé</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input formControlName="userId" type="hidden"/>
            <div class="mb-3">
              <label class="form-label" for="job">Nom d'utilisateur</label>
              <input formControlName="username" type="text" class="form-control"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="gender">Genre</label>
              <div class="input-group input-group-merge">
                <select formControlName="gender" class="select2 form-select">
                  <option value="Homme" selected>Homme</option>
                  <option value="Femme">Femme</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="job">Job</label>
              <input formControlName="job" type="text" class="form-control"/>
            </div>
            <div class="mb-3">
              <label class="form-label" for="employment_date">Date d'emploiement</label>
              <input formControlName="employment_date" type="date" class="form-control"/>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-2" aria-hidden="true">
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmitDelete()">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vous êtes sur?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input formControlName="userId" type="hidden"/>
            Etes-vous sur de vouloir supprimer cet employé?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </form>
</div>
<app-alert *ngIf="showAlert" [message]="alertMessage" [type]="alertType"></app-alert>