.overlay {
    position: fixed; /* or 'absolute' if overlaying a container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: flex;
    justify-content: center; /* horizontally center the spinner */
    align-items: center; /* vertically center the spinner */
    z-index: 9999; /* ensure the overlay is above other content */
  }