<div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Moyenne heure de travail</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="averageWorkHourForm" (ngSubmit)="onSubmitAverageWorkHour()"class="d-flex flex-row gap-3 mb-3">
                <div class="input-group">
                  <select class="form-select" formControlName="type" required>
                    <option value="jour">par Jour</option>
                    <option value="mois">par Mois</option>
                  </select>
                </div>
                <div class="input-group">
                  <input type="month" formControlName="date" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary ms-5">Appliquer</button>
            </form>
        <app-table [columns]="columns" [data]="data"></app-table>
        <ng-template #avgTemplate let-item>
            {{ formatData(item.data) }}
         </ng-template>
        </div>
      </div>
    </div>
  </div>