    <h4 class="fw-bold py-3 mb-4">Profil</h4>

    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link active"><i class="bx bx-user me-1"></i> Compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="notificationLink"><i class="bx bx-bell me-1"></i> Notifications</a>
          </li>
        </ul>
        <div class="card mb-4">
          <h5 class="card-header">Details du profil</h5>
          <!-- Account -->
          <div class="card-body">
            <!-- Manager -->
            <form *ngIf="role === 'manager'; else employee">
              <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input class="form-control" type="text" name="email" value="{{ currentUser.email }}" readonly/>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Role</label>
                <input class="form-control" type="text" name="email" value="{{ currentUser.role }}" readonly/>
              </div>
            </form>
            <!-- Employee -->
            <ng-template #employee>
              <form *ngIf="role === 'employee'; else client" [formGroup]="updateEmployeeForm" (ngSubmit)="onSubmitEmployee()">
                <div class="input-group mb-3">
                  <input class="form-control" type="text" formControlName="email" [readOnly]="true"/>
                </div>
                <div class="input-group mb-3">
                  <select class="select2 form-select" formControlName="gender">
                    <option value="Homme">Homme</option>
                    <option value="Femme">Femme</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <input class="form-control" type="text" formControlName="job"/>
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary me-2">Modifier</button>
                </div>
              </form>
            </ng-template>
            <!-- Client -->
            <ng-template #client>
              <form  [formGroup]="updateClientForm" (ngSubmit)="onSubmitClient()">
                <div class="input-group mb-3">
                  <input class="form-control" type="text" formControlName="email" [readOnly]="true"/>
                </div>
                <div class="input-group mb-3">
                  <select class="select2 form-select" formControlName="gender">
                    <option value="Homme">Homme</option>
                    <option value="Femme">Femme</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <input class="form-control" type="text" formControlName="number"/>
                </div>
                <h5>Préférences</h5>
                <div class="mb-3">
                  <label for="service" class="form-label">Services favoris</label>
                  <select class="select2 form-select" formControlName="service" (change)="addService()">
                    <option *ngFor="let service of services" [value]="service._id">{{ service.label }}</option>
                  </select>
                  <div class="mt-2 d-flex gap-1">
                    <span *ngFor="let service of selectedServices" class="badge bg-label-success">
                      {{ service.label }}
                      <button type="button" class="btn-close" (click)="removeService(service)"></button>
                    </span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="employee" class="form-label">Employés favoris</label>
                  <select class="select2 form-select" formControlName="employee" (change)="addEmployee()">
                    <option *ngFor="let employee of employees" [value]="employee._id">{{ employee.username }}</option>
                  </select>
                  <div class="mt-2 d-flex gap-1">
                    <span *ngFor="let employee of selectedEmployees" class="badge bg-label-success">
                      {{ employee.username }}
                      <button type="button" class="btn-close" (click)="removeEmployee(employee)"></button>
                    </span>
                  </div>
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary me-2">Modifier</button>
                </div>
              </form>
            </ng-template>
          </div>
          <!-- /Account -->
        </div>
        <button *ngIf="!loading; else elseBlock" class="btn btn-danger deactivate-account" (click)="logout()">Deconnexion</button>
        <ng-template #elseBlock>
            <button class="btn btn-danger deactivate-account" disabled><app-spinner></app-spinner></button>
        </ng-template>
      </div>
    </div>
    <app-alert *ngIf="showAlert" [message]="alertMessage" [type]="alertType"></app-alert>