<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">RDV  /</span> Prendre RDV</h4>

<div class="row">
<!-- Basic -->
<div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">RDV à venir</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-col gap-3">
          <div class="row">
            <app-appointment-card *ngFor="let p of pending" [appointment]="p" [confirm]="confirmAppointment.bind(this)" [cancel]="cancelAppointment.bind(this)"></app-appointment-card>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-md-8">
    <div class="card">
        <app-calendar 
            [loadEvents]="loadEvents.bind(this)"
            [createAppointment]="createAppointment.bind(this)"
            [updateAppointment]="updateAppointment.bind(this)"
            [deleteAppointment]="deleteAppointment.bind(this)"
            [role]="currentUser.role"
        ></app-calendar>
    </div>
</div>