<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <app-sidebar />
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                  <router-outlet />
                </div>
                <!-- / Content -->
                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                      <div class="mb-2 mb-md-0">Erica Ratsimiseta, Zoulfikar Zahirhoussen
                      </div>
                      <div>
                          <span class="footer-link me-4">m1p10mean-erica-zoulfikar</span>
                          <a href="https://gitlab.com/erica-zoulfikar/salon-beaute-back" class="footer-link me-4" target="_blank">Back</a>
                          <a href="https://gitlab.com/erica-zoulfikar/salon-beaute-front" target="_blank" class="footer-link me-4">Front</a>
                      </div>
                    </div>
                </footer>
                <!-- / Footer -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->