<div *ngIf="type === 'success'; else elseBlock" class="alert alert-success alert-pos" role="alert">
    {{ message }}
</div>
<ng-template #elseBlock>
    <div class="alert alert-danger alert-pos" role="alert">
        {{ message }}
    </div>
</ng-template>
