.alert-pos {
    position: fixed;
    top: 0;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* High z-index to ensure it overlays other content */
    width: 80%;
    max-width: 600px; /* Adjust as needed */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    opacity: 0.8;
  }