<!-- Error -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">Oops! 😖 </h2>
    <p class="mb-4 mx-2">La page que vous rechechez n'existe pas.</p>
    <a [routerLink]="['/']" class="btn btn-primary text-white">Revenir à l'acceuil</a>
    <div class="mt-3">
      <img
        src="../assets/img/illustrations/page-misc-error-light.png"
        alt="page-misc-error-light"
        width="500"
        class="img-fluid"
        data-app-dark-img="illustrations/page-misc-error-dark.png"
        data-app-light-img="illustrations/page-misc-error-light.png"
      />
    </div>
  </div>
</div>
<!-- /Error -->
    