<!-- <div class="calendar">
  <header>
    <button class="secondary" style="align-self: flex-start; flex: 0 0 1">
      Today
    </button>
    <div
      class="calendar__title"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="icon secondary chevron_left">‹</div>
      <h1 class="" style="flex: 1">
        <span></span><strong>18 JAN – 24 JAN</strong> 2016
      </h1>
      <div class="icon secondary chevron_left">›</div>
    </div>
    <div style="align-self: flex-start; flex: 0 0 1"></div>
  </header>

  <div class="outer">
    <table>
      <thead>
        <tr>
          <th class="headcol"></th>
          <th>Mon, 18</th>
          <th>Tue, 19</th>
          <th class="today">Wed, 20</th>
          <th>Thu, 21</th>
          <th>Fri, 22</th>
          <th class="secondary">Sat, 23</th>
          <th class="secondary">Sun, 24</th>
        </tr>
      </thead>
    </table>

    <div class="wrap">
      <table class="offset">
        <tbody>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td class="past"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">6:00</td>
            <td></td>
            <td></td>
            <td class="past"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td class="past"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">7:00</td>
            <td></td>
            <td></td>
            <td class="past"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td class="now"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">8:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="event double">
                <input id="check" type="checkbox" class="checkbox" /><label
                  for="check"
                ></label
                >8:30–9:30 Yoga
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">9:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">10:00</td>
            <td></td>
            <td></td>
            <td>
              <div class="event double">
                <input id="check" type="checkbox" class="checkbox" /><label
                  for="check"
                ></label
                >10:00–11:00 Meeting
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">11:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">12:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">13:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">14:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">15:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">16:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">17:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol">18:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="wrap">
    <div class="content">
      <div class="d-flex flex-row gap-3 justify-content-center py-2">
        <a class="btn btn-primary btn-sm" href="#" (click)="navigatePrevious($event)">Précedent</a>
        <a class="btn btn-primary btn-sm" href="#" (click)="navigateToday($event)">Aujourd'hui</a>
        <a class="btn btn-primary btn-sm" href="#" (click)="navigateNext($event)">Suivant</a>
      </div>
      <daypilot-calendar [config]="config" [events]="events" #calendar (viewChange)="viewChange()"></daypilot-calendar>
    </div>
</div>
<app-alert *ngIf="showAlert" [message]="alertMessage" [type]="alertType"></app-alert>