<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
      </div>
      <div class="card-body">
        <h5 class="mb-3">Historique des rendez-vous</h5>
        <div class="row">
          <div *ngFor="let h of history" class="col-md-3 mb-3">
            <app-appointment-card [appointment]="h"></app-appointment-card>
          </div>
        </div>
        <h5 class="mb-3">Rendez-vous en cours</h5>
        <div class="row">
          <div *ngFor="let p of pending" class="col-md-3 mb-3">
            <app-appointment-card [appointment]="p" [confirm]="confirmAppointment.bind(this)" [cancel]="cancelAppointment.bind(this)"></app-appointment-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>