
  <div class="{{ getClass() }}">
    <div class="card-body">
      <h5 class="card-title text-white">{{ appointment.id_service.label }} - {{ appointment.id_employee.username }}</h5>
      <p class="card-text"><strong>{{ formatTime(appointment.start) }} - {{ formatTime(appointment.end) }} </strong>| {{ formatDate(appointment.date) }}</p>
      <div *ngIf="currentUser._id === appointment.id_employee._id && appointment.status === 'pending'" class="d-flex flex-row">
          <button type="button" (click)="confirm(appointment._id)" class="btn btn-outline"><i class="bx bx-check text-white"></i></button>
          <button type="button" (click)="cancel(appointment._id)" class="btn btn-outline"><i class="bx bx-x text-white"></i></button>
      </div>
    </div>
  </div>