<!-- Content -->
<!--Under Maintenance -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">Problème Interne du Serveur</h2>
    <p class="mb-4 mx-2">Désolé, quelque chose s'est mal passé de notre côté. Veuillez réessayer plus tard</p>
    <a href="index.html" class="btn btn-primary">Retour à l'acceuil</a>
    <div class="mt-4">
      <img
        src="../assets/img/illustrations/girl-doing-yoga-light.png"
        alt="girl-doing-yoga-light"
        width="500"
        class="img-fluid"
        data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
        data-app-light-img="illustrations/girl-doing-yoga-light.png"
      />
    </div>
  </div>
</div>
<!-- /Under Maintenance -->
<!-- / Content -->