<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Reservations</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="reservationPerDayForm" (ngSubmit)="onSubmitReservation()" class="d-flex flex-row gap-3 mb-3">
          <div class="input-group">
            <select class="form-select" formControlName="type" required>
              <option value="day">par Jour</option>
              <option value="month">par Mois</option>
            </select>
          </div>
          <div class="input-group">
            <input type="month" formControlName="startDate" class="form-control" required>
          </div>
          <div class="">
            <button type="submit" class="btn btn-primary ms-5">Appliquer</button>
          </div>
        </form>
        <app-bar-chart [labels]="barChartLabels" [data]="barChartData" [title]="barChartTitle"></app-bar-chart>
      </div>
    </div>
  </div>
</div>