<div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Données</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="profitForm" (ngSubmit)="onSubmitProfit()">
            <div class="mb-3">
                <label class="form-label">Date</label>
              <input type="month" formControlName="dateDebut" class="form-control" required>
            </div>
            <h5>Dépenses par mois</h5>
            <div class="mb-3">
                <label class="form-label">Salaire</label>
                <input type="number" formControlName="salaire" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Loyer</label>
                <input type="number" formControlName="loyer" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Achat pièce</label>
                <input type="number" formControlName="achatPiece" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary ms-5">Appliquer</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Profit</h5>
        </div>
        <div class="card-body">
          <app-line-chart [labels]="lineChartLabels" [data]="lineChartData" [title]="lineChartTitle"></app-line-chart>
        </div>
      </div>
    </div>
  </div>