<h4 class="fw-bold py-3 mb-4">Profil</h4>

<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="profileLink"><i class="bx bx-user me-1"></i>Compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
            <i class="bx bx-bell me-1"></i> Notifications</a>
      </li>
    </ul>
    <div class="card mb-4">
      <h5 class="card-header">Notifications</h5>
      <!-- Account -->
      <div class="card-body">
        <div class="demo-inline-spacing mt-3">
          <div class="list-group list-group-flush">
            <li *ngFor="let notification of notifications" class="list-group-item d-flex justify-content-between align-items-center py-3">
              <span *ngIf="notification.status === 'unread'; else read">
                {{ notification.message }}
                <span class="badge bg-danger rounded-pill">1</span>
              </span>
              <ng-template #read>
                <span class="text-secondary">
                  {{ notification.message }}
                </span>
              </ng-template>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<li class="menu-item" >
    <a routerLink="/admin" class="menu-link">