<!-- Basic Bootstrap Table -->
<div class="card">
  <h5 *ngIf="title" class="card-header">{{title}}</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let row of data">
          <td *ngFor="let column of columns">
              <ng-container *ngIf="column.template; else defaultContent">
                  <ng-container *ngTemplateOutlet="column.template; context: {$implicit: row}"></ng-container>
              </ng-container>
              <ng-template #defaultContent>{{ row[column.key] }}</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->